<div class="panel panel-danger center-block centerY p50">
  <div class="panel-heading">There is a problem with this form</div>
  <div class="panel-body">
    <p>It may causes by one of the followings...</p>
  </div>

  <table class="table text-center">
    <tbody>
    <tr><td>Your URL is incorrect</td></tr>
    <tr><td>Team registration has closed</td></tr>
    </tbody>
  </table>
</div>
